<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<akka>
		<hocon>
			<![CDATA[
         akka {  
            stdout-loglevel = DEBUG
            loglevel = DEBUG
            loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
            log-config-on-start = on        
            actor {                
                debug {  
                    receive = on 
                    autoreceive = on
                    lifecycle = on
                    event-stream = on
                    unhandled = on					
                }
				pinned-dispatcher 
		        {
                      type = "PinnedDispatcher"
                      executor = "fork-join-executor"
                }
            } 
    ]]>
		</hocon>
	</akka>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>