<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<akka>
		<hocon>
			<![CDATA[
         akka {  
            stdout-loglevel = DEBUG
            loglevel = DEBUG
            loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
            log-config-on-start = on        
            actor {                
                debug {  
                    receive = on 
                    autoreceive = on
                    lifecycle = on
                    event-stream = on
                    unhandled = on					
                }
				pinned-dispatcher 
		        {
                      type = "PinnedDispatcher"
                      executor = "fork-join-executor"
                }
            } 
    ]]>
		</hocon>
	</akka>

</configuration>